@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  text-decoration: none;
}
body{
  height: 100vh;
  background-color: rgb(239, 242, 243);
  padding: 30px 8%;
  font-family: "Roboto", sans-serif;
}
.flex-column{
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 400px;
}
.nav-bar{
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}
.back-arrow{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #212529;
  color: rgb(255, 255, 255);
  font-size: 24px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
}